<div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{$ctrl.googleMapsUrl}}">
  <ng-map zoom="1" center="[0, 0]" style="height:500px; width:600px">
    <shape name="circle" radius="500" center="[0, 0]" radius="4000" />
    <control name="overviewMap" opened="true" />
    <marker 
      ng-if="$ctrl.photos.length > 0" 
      ng-repeat="photo in $ctrl.photos" 
      draggable="true"
      optimized="false" 
      icon="{{photo.thumbnail}}" 
      position="{{photo.location.latitude}}, {{photo.location.longitude}}" 
      on-click="$ctrl.showInfo(photo.id)"
    ></marker>
  </ng-map>
</div>
