
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title"></h3>
    </div>
    <div class="modal-body" id="modal-body">
      <img src="https://scontent-dft4-2.cdninstagram.com/t51.2885-15/e35/20902438_883863001754782_642384106545479680_n.jpg" width="400px">
      
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
